html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*RESPONSIVE=============================*/
@media only screen and (max-width: 600px){
    .header-wrapper{
        display: flex;
        flex-direction: column;
    }
    .nav-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .logo-icon{
        display: flex;
        margin-bottom: 70px;
        align-content: center;
        margin-left: 45%;
        margin-right: 45%;
    }
}

@media only screen and (max-width: 375px){
    .nav-container{
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: flex;
    }

    .logo-icon{
        display: flex;
        margin-bottom: 70px;
        align-content: center;
        margin-left: 45%;
        margin-right: 45%;
    }
    
    article{
    display: flex;
    }

    .personal-data{
        display: flex;
    }
}

/*header=============================*/
.header-wrapper{
    display: flex;
}

.logo-icon{
    display: flex;
    height: 20px;
    width: 20px;

}

.nav-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}


.nav-item{
    border: 1px solid;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}


/*img slide show=============================*/
.banner-img {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.img-slideshow {
    display: none;
    width: 100%;
}

.active-slide {
    display: block;
}

.banner-img button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.banner-img button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.banner-img button:first-of-type {
    left: 10px;
}

.banner-img button:last-of-type {
    right: 10px;
}

/*facilitation===============================*/
.profile-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.profile-item {
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.profile-img img {
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-item:hover img {
    transform: scale(1.1);
}

.profile-item h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
}

.profile-item:hover h2 {
    color: #007BFF;
}

.profile-item:hover {
    transform: scale(1.05);
}



/*form data diri=============================*/
.personal-data {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.personal-data form {
    display: flex;
    flex-direction: column;
}

.personal-data label {
    margin: 5px 0;
}


.personal-data textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.personal-data button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.personal-data button:hover {
    background-color: grey;
}

#formResults {
    margin-top: 20px;
}

#formResults p {
    margin: 5px 0;
}


footer{
    text-align: center;
    font-size: 1em;
    font-family:sans-serif;
}